@page "/blog"
@inject IBlogControl bc

<section id="blog" class="blog-wrapper pb-0">
    @if (blogList.Count == 0)
    {
        <div class="container">
            <div class="row">
                <div class="col-sm-12 section-title text-center mb-5">
                    <h6>Let's keep you updated via our blog</h6>
                    <h3>Our Blog</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="card p-0 border-0 rounded-0">
                        <div class="blog-img">
                            <img src="./images/blog/blog1.webp" alt="blog">
                        </div>
                        <div class="blog-content bg-white p-4">
                            <h5 class="text-decoration-underline mb-4">Realm of Indulgence</h5>
                            <h6>By Admin - February 18, 2023</h6>
                            <p class="mt-2">
                                Discover a realm of refined indulgence where every moment is designed to
                                evoke a sense of awe and wonder. Immerse yourself in a world of elegance,
                                opulence, and glamour that will leave an everlasting impression, ensuring
                                your stay is nothing short of extraordinary.
                            </p>
                            <a class="main-btn mt-2">Read</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="card p-0 border-0 rounded-0">
                        <div class="blog-img">
                            <img src="./images/blog/room3.webp" alt="blog">
                        </div>
                        <div class="blog-content bg-white p-4">
                            <h5 class="text-decoration-underline mb-4">Realm of Indulgence</h5>
                            <h6>By Admin - February 18, 2023</h6>
                            <p class="mt-2">
                                Discover a realm of refined indulgence where every moment is designed to
                                evoke a sense of awe and wonder. Immerse yourself in a world of elegance,
                                opulence, and glamour that will leave an everlasting impression, ensuring
                                your stay is nothing short of extraordinary.
                            </p>
                            <a class="main-btn mt-2">Read</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="card p-0 border-0 rounded-0">
                        <div class="blog-img">
                            <img src="./images/blog/blog2.webp" alt="blog">
                        </div>
                        <div class="blog-content bg-white p-4">
                            <h5 class="text-decoration-underline mb-4">Realm of Indulgence</h5>
                            <h6>By Admin - February 18, 2023</h6>
                            <p class="mt-2">
                                Discover a realm of refined indulgence where every moment is designed to
                                evoke a sense of awe and wonder. Immerse yourself in a world of elegance,
                                opulence, and glamour that will leave an everlasting impression, ensuring
                                your stay is nothing short of extraordinary.
                            </p>
                            <a class="main-btn mt-2">Read</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="card p-0 border-0 rounded-0">
                        <div class="blog-img">
                            <img src="./images/blog/mky-moody-AUF6Gl4wwzA-unsplash.jpg" alt="blog">
                        </div>
                        @*                    <img src="./images/blog/mky-moody-AUF6Gl4wwzA-unsplash.jpg" class="img-fluid" alt="blog">*@
                        <div class="blog-content bg-white p-4">
                            <h5 class="text-decoration-underline mb-4">Luxury at it's peak</h5>
                            <h6>By Admin - February 18, 2023</h6>
                            <p class="mt-2">
                                From grand suites that redefine luxury to intimate rooms
                                that cocoon you in comfort, our hotel rooms embody the essence of elegance, opulence,
                                and glamour. Whether you're seeking a romantic getaway, a memorable escape,
                                or a sanctuary for relaxation, our rooms offer an unparalleled retreat.

                            </p>
                            <a class="main-btn mt-2">Read</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="row">
                <div class="col-sm-12 section-title text-center mb-5">
                    <h6>Let's keep you updated via our blog</h6>
                    <h3>Blog Posts</h3>
                </div>
            </div>
            <div class="row">
                @foreach (var blog in blogList)
                {
                    string link = $"/blog-post/{blog.Id}";
                    <div class="col-md-6 mb-4">
                        <div class="card p-0 border-0 rounded-0">
                            <div class="blog-img">
                                <img src="@blog.ImagePath" alt="blog">
                            </div>
                            <div class="blog-content bg-white p-4">
                                <h5 class="text-decoration-underline mb-4">@blog.Title</h5>
                                <h6>By Admin - @blog.Date.ToString("MMMM d, yyyy hh:mm tt")</h6>
                                <p class="mt-2">
                                    @blog.Description
                                </p>
                                <a href="@link" class="main-btn mt-2">Read</a>
                            </div>
                        </div>
                    </div>
                    count++;
                    if (count == limit)
                        break;
                }
            </div>
        </div>
    }
</section>

@code{
    private List<BlogData> blogList = new();
    [Parameter]
    public int limit { get; set; }
    int count = 0;
    protected override async Task OnInitializedAsync()
    {
        blogList = (await bc.ReadAll()).OrderByDescending(b => b.Date).ToList();
    }
}
